In [875]:
import pandas as pd
import sqlite3
import re
from datetime import datetime, time
from pytz import timezone
import pytz

In [876]:
dat = pd.read_csv("subway_locations_in_us.csv")

In [877]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [878]:
def remove_nan():
    dat.fillna(' ', inplace = True)
    dat.drop(columns = ['Unnamed: 0'], inplace=True, axis=1)

In [879]:
def merge_address():
    dat['address_1'] = dat['address_1'] + ' ' + dat['address_2']
    dat.drop(['address_2'], inplace = True, axis = 1)

In [880]:
def type_conversion():
    dat['postal_code'] = dat['postal_code'].astype('string')

In [881]:
def remove_closed():
    for i in range(len(dat)):
        if dat['open_hours'][i].count('Closed Today') == 7:
            dat.drop([i], inplace=True)
        elif dat['open_hours'][i] == ' ':
            dat.drop([i], inplace=True)
        elif dat['open_hours'][i].find('Open 24 Hours') != -1:
            dat['open_hours'][i] = dat['open_hours'][i].replace('Open 24 Hours', '12:00 AM - 12:00 PM')
        
    dat.reset_index(drop = True, inplace=True)

In [882]:
remove_nan()
merge_address()
type_conversion()
remove_closed()

/Users/justinchan/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [883]:
def open_times():
    hours = []
    for i in range(len(dat)):    
        reg = re.findall("(Closed Today|\d*:\d\d \wM - \d*:\d\d \wM)", dat['open_hours'][i])
        if len(reg) != 7:
            print(reg)
        hours.append(reg)
    return hours

In [884]:
tz = timezone('America/Los_Angeles')
ts = datetime.now(tz).timetuple()
ts

time.struct_time(tm_year=2022, tm_mon=6, tm_mday=10, tm_hour=15, tm_min=35, tm_sec=42, tm_wday=4, tm_yday=161, tm_isdst=1)

In [885]:
#(X)Function to input data into database
#Figure out how to query from sqlite3 from frontend
#(X)Do we need data modelling for this project?

In [886]:
con = sqlite3.connect('subways.db')
cur = con.cursor()
cur.execute('''CREATE TABLE subway 
                (title text, address_1 text, open_hours text, city text, 
                state text, postal_code varchar, latitude real, longitude real)''')

In [887]:
def insert_db(df_row):
    cur.execute("insert into subway values (?,?,?,?,?,?,?,?)", (df_row[0], df_row[1], df_row[2], df_row[3], df_row[4], df_row[5], df_row[6], df_row[7]))
    con.commit()

In [ ]:
for i in range(len(dat)):
    insert_db(dat.loc[i])

In [ ]:
con.close()